<!DOCTYPE html>
<html lang="en-US">
<!--<![endif]-->
<head>
    <title>Order Booking</title>
    <meta name="description" content=" | pasta &amp; ravioli company" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript">
//<![CDATA[
        try { if (!window.CloudFlare) { var CloudFlare = [{ verbose: 0, p: 0, byc: 0, owlid: "cf", bag2: 1, mirage2: 0, oracle: 0, paths: { cloudflare: "/cdn-cgi/nexp/dokv=88e434a982/" }, atok: "78c117f0074724a29e5601f65697145b", petok: "e87181684493ce4d1753098d6d18f838857dbc65-1407217146-86400", zone: "template-help.com", rocket: "0", apps: { "abetterbrowser": { "ie": "7" }, "ga_key": { "ua": "UA-7078796-5", "ga_bs": "2"}}}]; !function (a, b) { a = document.createElement("script"), b = document.getElementsByTagName("script")[0], a.async = !0, a.src = "Scripts/cloudflare.min.js", b.parentNode.insertBefore(a, b) } () } } catch (e) { };
//]]>
</script>
    <link rel="profile" href="//gmpg.org/xfn/11" />
    <link rel="icon" href="http://livedemo00.template-help.com/wordpress_50738/wp-content/themes/theme50738/favicon.ico"
        type="image/x-icon" />
    <link rel="pingback" href="http://livedemo00.template-help.com/wordpress_50738/xmlrpc.php" />
    <link rel="alternate" type="application/rss+xml" title="SuperMario" href="http://livedemo00.template-help.com/wordpress_50738/feed/" />
    <link rel="alternate" type="application/atom+xml" title="SuperMario" href="http://livedemo00.template-help.com/wordpress_50738/feed/atom/" />
    <link href="assets/Stylesheets/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="assets/Stylesheets/camera.css" rel="stylesheet" type="text/css" />
    <link href="assets/Stylesheets/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" media="all" href="assets/Stylesheets/responsive.css" />
    <link rel="alternate" type="application/rss+xml" title="SuperMario &raquo; Feed"
        href="http://livedemo00.template-help.com/wordpress_50738/feed/" />
    <link rel="alternate" type="application/rss+xml" title="SuperMario &raquo; Comments Feed"
        href="http://livedemo00.template-help.com/wordpress_50738/comments/feed/" />
    <link rel="alternate" type="application/rss+xml" title="SuperMario &raquo; About Us Comments Feed"
        href="http://livedemo00.template-help.com/wordpress_50738/about-us/feed/" />
    <link rel='stylesheet' id='flexslider-css' href='Stylesheets/flexslider.css?ver=2.2.0'
        type='text/css' media='all' />
    <link rel='stylesheet' id='owl-carousel-css' href='Stylesheets/owl.carousel.css?ver=1.24'
        type='text/css' media='all' />
    <link rel='stylesheet' id='owl-theme-css' href='Stylesheets/owl.theme.css?ver=1.24'
        type='text/css' media='all' />
    <link rel='stylesheet' id='font-awesome-css' href='Stylesheets/font-awesome.css?ver=3.2.1'
        type='text/css' media='all' />
    <link rel='stylesheet' id='cherry-plugin-css' href='Stylesheets/cherry-plugin.css?ver=1.2.3'
        type='text/css' media='all' />
    <link rel='stylesheet' id='cherry-lazy-load-css' href='Stylesheets/lazy-load.css?ver=1.0'
        type='text/css' media='all' />
    <link rel='stylesheet' id='contact-form-7-css' href='Stylesheets/styles.css?ver=3.8'
        type='text/css' media='all' />
    <link rel='stylesheet' id='theme50738-css' href='Stylesheets/main-style.css' type='text/css'
        media='all' />
    <link rel='stylesheet' id='magnific-popup-css' href='Stylesheets/magnific-popup.css?ver=0.9.3'
        type='text/css' media='all' />
    <link rel='stylesheet' id='options_typography_Open+Sans-css' href='//fonts.googleapis.com/css?family=Open+Sans&#038;subset=latin'
        type='text/css' media='all' />
    <link rel='stylesheet' id='options_typography_Pacifico-css' href='//fonts.googleapis.com/css?family=Pacifico&#038;subset=latin'
        type='text/css' media='all' />
    <script type='text/javascript' src='assets/javascripts/jquery-1.7.2.min.js?ver=1.7.2'></script>
    <script type='text/javascript' src='assets/javascripts/btn.js?ver=1.0'></script>
    <script type='text/javascript' src='assets/javascripts/parallaxSlider.js?ver=1.0'></script>
    <script type='text/javascript' src='assets/javascripts/jquery-migrate-1.2.1.min.js?ver=1.2.1'></script>
    <script type='text/javascript' src='assets/javascripts/swfobject.js?ver=2.2-20120417'></script>
    <script type='text/javascript' src='assets/javascripts/modernizr.js?ver=2.0.6'></script>
    <script type='text/javascript' src='assets/javascripts/jflickrfeed.js?ver=1.0'></script>
    <script type='text/javascript' src='assets/javascripts/jquery.easing.1.3.js?ver=1.3'></script>
    <script type='text/javascript' src='assets/javascripts/custom.js?ver=1.0'></script>
    <script type='text/javascript' src='assets/javascripts/bootstrap.min.js?ver=2.3.0'></script>
    <script type='text/javascript' src='assets/javascripts/jquery.elastislide.js?ver=1.2.3'></script>
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://livedemo00.template-help.com/wordpress_50738/xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://livedemo00.template-help.com/wordpress_50738/wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 3.9.1" />
    <link rel='canonical' href='http://livedemo00.template-help.com/wordpress_50738/' />
    <link rel='shortlink' href='http://livedemo00.template-help.com/wordpress_50738/' />
    <script>
        var system_folder = 'http://livedemo00.template-help.com/wordpress_50738/wp-content/themes/CherryFramework/admin/data_management/',
     CHILD_URL = 'http://livedemo00.template-help.com/wordpress_50738/wp-content/themes/theme50738',
     PARENT_URL = 'http://livedemo00.template-help.com/wordpress_50738/wp-content/themes/CherryFramework',
     CURRENT_THEME = 'theme50738'</script>
    <style type="text/css">
        .cherry-fixed-layout .main-holder
        {
            background: #ffffff;
        }
    </style>
    <style type='text/css'>
        body
        {
            background-image: url(assets/images/bg.jpg);
            background-repeat: repeat;
            background-position: top center;
            background-attachment: scroll;
        }
        body
        {
            background-color: #ebd7b9;
        }
        .header
        {
            background-image: url(assets/images/bg-header.jpg);
            background-repeat: repeat;
            background-position: top center;
            background-attachment: scroll;
        }
        .header
        {
            background-color: #f9b004;
        }
    </style>
    <style type='text/css'>
        h1
        {
            font: normal 34px/44px Open Sans;
            color: #404040;
        }
        h2
        {
            font: normal 30px/39px Open Sans;
            color: #404040;
        }
        h3
        {
            font: normal 26px/34px Open Sans;
            color: #404040;
        }
        h4
        {
            font: normal 24px/31px Open Sans;
            color: #404040;
        }
        h5
        {
            font: normal 22px/29px Open Sans;
            color: #404040;
        }
        h6
        {
            font: normal 20px/26px Open Sans;
            color: #404040;
        }
        body
        {
            font-weight: normal;
        }
        .logo_h__txt, .logo_link
        {
            font: normal 72px/80px Pacifico;
            color: #ffffff;
        }
        .sf-menu > li > a
        {
            font: normal 15px/18px Open Sans;
            color: #ffffff;
        }
        .nav.footer-nav a
        {
            font: normal 12px/14px "Times New Roman" ,Times,serif;
            color: #4a4a4a;
        }
        a.btn-orange {
			text-decoration: none;
    background-color: #81c02f;
    color: #fff;
    display: inline-block;
    font-size: 0.9em;
    font-weight: 700;
    line-height: normal;
    margin-left: -109px;
    padding: 0.5em 1em;
    text-transform: uppercase;
     
   margin-right: 60px;
}

a.btn-orange:hover {
    background-color: #81c02f;
    color: #000;
}
    </style>
    <script src="assets/javascripts/jquery.mobile.customized.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(function () {
            jQuery('.sf-menu').mobileMenu({ defaultText: "Navigate to..." });
        });
    </script>
    <!--<![endif]-->
    <script type="text/javascript">
        // Init navigation menu
        jQuery(function () {
            // main navigation init
            jQuery('ul.sf-menu').superfish({
                delay: 1000, // the delay in milliseconds that the mouse can remain outside a sub-menu without it closing
                animation: {
                    opacity: "show",
                    height: "show"
                }, // used to animate the sub-menu open
                speed: "normal", // animation speed
                autoArrows: false, // generation of arrow mark-up (for submenu)
                disableHI: true // to disable hoverIntent detection
            });

            //Zoom fix
            //IPad/IPhone
            var viewportmeta = document.querySelector && document.querySelector('meta[name="viewport"]'),
                ua = navigator.userAgent,
                gestureStart = function () {
                    viewportmeta.content = "width=device-width, minimum-scale=0.25, maximum-scale=1.6, initial-scale=1.0";
                },
                scaleFix = function () {
                    if (viewportmeta && /iPhone|iPad/.test(ua) && !/Opera Mini/.test(ua)) {
                        viewportmeta.content = "width=device-width, minimum-scale=1.0, maximum-scale=1.0";
                        document.addEventListener("gesturestart", gestureStart, false);
                    }
                };
            scaleFix();
        })
    </script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            if (!device.mobile() && !device.tablet()) {
                jQuery('header .nav-wrap').tmStickUp({
                    correctionSelector: jQuery('#wpadminbar')
                , listenSelector: jQuery('.listenSelector')
                , active: true, pseudo: true
                });
            }
        })
    </script>
    <script type="text/javascript">
/* <![CDATA[ */
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-7078796-5']);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

(function(b){(function(a){"__CF"in b&&"DJS"in b.__CF?b.__CF.DJS.push(a):"addEventListener"in b?b.addEventListener("load",a,!1):b.attachEvent("onload",a)})(function(){"FB"in b&&"Event"in FB&&"subscribe"in FB.Event&&(FB.Event.subscribe("edge.create",function(a){_gaq.push(["_trackSocial","facebook","like",a])}),FB.Event.subscribe("edge.remove",function(a){_gaq.push(["_trackSocial","facebook","unlike",a])}),FB.Event.subscribe("message.send",function(a){_gaq.push(["_trackSocial","facebook","send",a])}));"twttr"in b&&"events"in twttr&&"bind"in twttr.events&&twttr.events.bind("tweet",function(a){if(a){var b;if(a.target&&a.target.nodeName=="IFRAME")a:{if(a=a.target.src){a=a.split("#")[0].match(/[^?=&]+=([^&]*)?/g);b=0;for(var c;c=a[b];++b)if(c.indexOf("url")===0){b=unescape(c.split("=")[1]);break a}}b=void 0}_gaq.push(["_trackSocial","twitter","tweet",b])}})})})(window);
/* ]]> */
</script>
    <script type="text/javascript">
        $(document).ready(function(){
           $("#txtsearch").keyup(function(){
              var text= $("#txtsearch").val();
              $.ajax({
                  url: "serch.erb",
                  data: "text"+text,
                  success: function(msg)
                  {
                      alert(msg);
                  }
                  
              });
           });
           //alert('hello');
        });
    </script>
    
</head>
<body class="home page page-id-203 page-template page-template-page-home-php cherry-fixed-layout">
    <div id="motopress-main" class="main-holder" style="height: 800px;">
        <header class="motopress-wrapper header">
<div class="container">
<div class="row">
<div class="span12" data-motopress-wrapper-file="wrapper/wrapper-header.php" data-motopress-wrapper-type="header" data-motopress-id="53e068a836405">
<div class="nav-wrap">
<div class="row">
<div class="span9" data-motopress-type="static" data-motopress-static-file="static/static-nav.php">
 
<nav class="nav nav__primary clearfix">
<ul id="topnav" class="sf-menu"><li id="menu-item-1807" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-203 current_page_item"><a href="#">About Us</a></li>
<li id="menu-item-1808" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children"><a href="#">Products</a>
<ul class="sub-menu">
<li id="menu-item-1815" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#">Products 2</a></li>
<li id="menu-item-1814" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children"><a href="#">Products 3</a>
<ul class="sub-menu">
<li id="menu-item-1883" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#">Category 1</a></li>
<li id="menu-item-1882" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#">Category 2</a></li>
<li id="menu-item-1881" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#">Category 3</a></li>
</ul>
</li>
<li id="menu-item-1813" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#">Products 4</a></li>
</ul>
</li>
<li id="menu-item-1810" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children"><a href="#">Store Locator</a>
<ul class="sub-menu">
<li id="menu-item-1811" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#">Testimonials</a></li>
<li id="menu-item-1812" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#">Archives</a></li>
<li id="menu-item-1805" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#">FAQs</a></li>
</ul>
</li>
<li id="menu-item-1806" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#">Blog</a></li>
<li id="menu-item-1804" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#">Contacts</a></li>
</ul></nav>  </div>
<div class="span3" data-motopress-type="dynamic-sidebar" data-motopress-sidebar-id="header-sidebar">
<div id="social_networks-2">
 
 
 
 
<ul class="social social__row clearfix unstyled">
<%= link_to "LOGIN",{:controller=>'categories',:action=>'login'},class: "btn-orange"%>
</ul>
 
 
 
 
 
</div> </div>
</div>
</div>
<div class="row">
<div class="span12" data-motopress-type="static" data-motopress-static-file="static/static-logo.php">
 
<div class="logo pull-left">
<a href="#" class="logo_h logo_h__img">
    <%= image_tag('logo3.png') %>
   </a>
<p class="logo_tagline"> </p> 
  </div>
</div>
</div>
</div>
</div>
</header>
        <div >
            <div class="container">
                <div class="row">
                    <div class="span12" data-motopress-wrapper-file="page-home.php" data-motopress-wrapper-type="content">
                        <div class="row">
                            <div class="span12" data-motopress-type="static" data-motopress-static-file="static/static-slider.php">
                                <div class="slider_off">
                                </div>
                                 <div class="row ">
                                        <div class="span12 ">
                                            <section class="lazy-load-box trigger effect-slidetop " data-delay="0" data-speed="600"
                                                style="-webkit-transition: all 600ms ease; -moz-transition: all 600ms ease; -ms-transition: all 600ms ease;
                                                -o-transition: all 600ms ease; transition: all 600ms ease;">

</section>
                                            <section class="lazy-load-box trigger effect-slidetop " data-delay="0" data-speed="600"
                                                style="-webkit-transition: all 600ms ease; -moz-transition: all 600ms ease; -ms-transition: all 600ms ease;
                                                -o-transition: all 600ms ease; transition: all 600ms ease;">
<div class="title-box clearfix center big-title">
<h3 class="title-box_primary">Best Places to eat in your city</h3><br> 
<%= form_tag :controller => 'hotels', :method => 'get' do %>
<div id="box" style="width: 400px;margin-left: 33%">
  <%= text_field_tag :search%>
    </div>
    <%= submit_tag "Search", :name=>'btnsearch', :class=>"btn btn-primary" %>     
 </div> 
 <%end%>
  
</section>

</div>
</div> </div>


                                
                                
                                
                                
                                
                                
                                
                               
                                <div id="parallax" class="">
                                    <%= image_tag('slider-3.jpg',:size=>'900x150')%>                                  
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span12" data-motopress-type="loop" data-motopress-loop-file="loop/loop-page.php">
                                <div id="post-203" class="post-203 page type-page status-publish hentry page">
                                   








</div>
</div>
</footer>
    </div>
    <div id="back-top-wrapper" class="visible-desktop">
        <p id="back-top">
            <a href="#top"><span></span></a>
        </p>
    </div>
    <script type='text/javascript' src='assets/javascripts/comment-reply.min.js?ver=3.9.1'></script>
    <script type='text/javascript' src='assets/javascripts/cherry.lazy-load.js?ver=1.0'></script>
    <script type='text/javascript' src='assets/javascripts/device.min.js?ver=1.0.0'></script>
    <script type='text/javascript' src='assets/javascripts/jquery.form.min.js?ver=3.50.0-2014.02.05'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var _wpcf7 = {"loaderUrl":"images\/ajax-loader.gif","sending":"Sending ..."};
/* ]]> */
</script>
  
    <script type="text/javascript">
/* <![CDATA[ */
(function(){try{var s,a,i,j,r,c,l=document.getElementsByTagName("a"),t=document.createElement("textarea");for(i=0;l.length-i;i++){try{a=l[i].getAttribute("href");if(a&&"www.cloudflare.com/email-protection"==a.substr(7 ,35)){s='';j=43;r=parseInt(a.substr(j,2),16);for(j+=2;a.length-j&&a.substr(j,1)!='X';j+=2){c=parseInt(a.substr(j,2),16)^r;s+=String.fromCharCode(c);}j+=1;s+=a.substr(j,a.length-j);t.innerHTML=s.replace(/</g,"&lt;").replace(/>/g,"&gt;");l[i].setAttribute("href","mailto:"+t.value);}}catch(e){}}}catch(e){}})();
/* ]]> */
</script>
</body>
</html>

