<html>
	<head>
		<%= stylesheet_link_tag 'orders'%>
		<%= stylesheet_link_tag 'component'%>
		<%= stylesheet_link_tag 'content'%>

		<%= javascript_include_tag 'classie'%>

		<script src="public/javascripts/script.js"></script>
	</head>
	<style>
		.list-wrap {
			margin-left: 30%;
			background-color: #e9e9e9;
			float: left;
			padding: 5px 1%;
			width: 48%;
			min-height: 400px;
			max-height: 100%;
		}

		.AddButton {
			background-color: red;
		}
		.menu_list {
			width: 200px;
			float: left;
			border: 1px solid #ff7200;
			margin-left: 150px;
			height: 300px;
			text-align: center;
			background-color: #F5D0A9;
		}
		.seach-but {
			background-color: #81c02f;
			border: 0 solid #000000;
			color: #ffffff;
			font-size: 1.1em;
			font-weight: bold;
			height: auto;
			margin-left: 5px;
			padding: 0.5em;
			right: 5px;
			transition: background-color 0.5s ease 0s, color 0.3s ease 0s;
		}

		.linkstyle {
			width: 70px;
			height: 40px;
			font: 16px Arial;
			text-decoration: none;
			background-color: #EEEEEE;
			color: #333333;
			padding: 2px 6px 2px 6px;
			border-top: 1px solid #CCCCCC;
			border-right: 1px solid #333333;
			border-bottom: 1px solid #333333;
			border-left: 1px solid #CCCCCC;
			margin: 1% 0;
		}
		.container_head {
			background-color: #f9b004;
			background-image: linear-gradient(to right, #f9b004 0px, #f9b004 50%, #f9b004 100%);
			border-bottom: 3px solid #fff;
			height: 100px;
		}
		.top-resultbar {
			background-color: #efefef;
			border: 1px solid #ddd;
			height: 42px;
			margin: 4px 0 46px;
			padding: 0 10px;
			position: relative;
			width: 100%;
		}
		.menu_link {
			text-decoration: none;
			color: #FFFFFF;
			border-right-color: #FFFFFF;
		}
		a.btn-orange2 {

			background-color: #81c02f;
			color: #fff;
			display: inline-block;
			font-size: 0.9em;
			font-weight: 700;
			line-height: normal;
			margin: 1% 0;
			padding: 0.5em 1em;
			text-transform: uppercase;
			text-decoration: none;
			float: right;
		}
		a.btn-orange {

			background-color: #555555;
			color: #fff;
			display: inline-block;
			font-size: 0.9em;
			font-weight: 700;
			line-height: normal;
			margin-left: 30px;
			margin-right: 30px;
			padding: 0.5em 1em;
			text-transform: uppercase;
			text-decoration: none;
		}
		.linkstyle {
			width: 70px;
			height: 40px;
			font: 16px Arial;
			text-decoration: none;
			background-color: #EEEEEE;
			color: #333333;
			padding: 2px 6px 2px 6px;
			border-top: 1px solid #CCCCCC;
			border-right: 1px solid #333333;
			border-bottom: 1px solid #333333;
			border-left: 1px solid #CCCCCC;
			margin: 1% 0;
		}

		a.btn-orange:hover {
			background-color: #81c02f;
			color: #000;
		}
		.styleDiv {
			color: #F99406;
			height: 200px;
			width: 170px;
			background-color: #FAF2CC;
		}
		.styleDiv1 {
			position: absolute;
			margin-left: 200px;
			top: 302px;
			color: #F99406;
			height: 200px;
			width: 170px;
			background-color: #FAF2CC;
		}

		div.styleDiv1:hover {
			background-color: #90805A;
		}
		.textBox {
			width: 100%;
			height: 100px;
		}
		.grid-view1 {

			border: 1px solid #ddd;
			float: left;
			margin: 0.4em 2% 0.4em 0;
			min-height: 50px;
			padding: 1%;
			width: 168px;
			background-color: #F1F1F1;
			word-wrap: break-word;
		}
		div.grid-view1:hover {
			background-color: #90805A;
		}
		.grid-view2 {

			border: 1px solid #ddd;
			float: left;
			margin: 0.4em 2% 0.4em 0;
			min-height: 50px;
			padding: 0.65%;
			width: 168px;
			background-color: #F1F1F1;
			margin-left: 230px;
			top: 374px;
			position: absolute;
			word-wrap: break-word;
		}
		.grid-view3 {

			border: 1px solid #ddd;
			float: left;
			margin: 0.4em 2% 0.4em 0;
			min-height: 50px;
			padding: 0.65%;
			width: 168px;
			background-color: #F1F1F1;
			margin-left: 460px;
			top: 374px;
			position: absolute;
			word-wrap: break-word;
		}

		.grid-view4 {

			border: 1px solid #ddd;
			float: left;
			margin: 0.4em 2% 0.4em 0;
			min-height: 50px;
			padding: 1%;
			width: 168px;
			background-color: #F1F1F1;
			top: 10px;
			position: relative;
			word-wrap: break-word;
		}
		div.grid-view4:hover {
			background-color: #90805A;
		}
		.grid-view5 {

			border: 1px solid #ddd;
			float: left;
			margin: 0.4em 2% 0.4em 0;
			min-height: 50px;
			padding: 0.65%;
			width: 168px;
			background-color: #F1F1F1;
			margin-left: 230px;
			top: 620px;
			position: absolute;
			word-wrap: break-word;
		}
		.grid-view6 {

			border: 1px solid #ddd;
			float: left;
			margin: 0.4em 2% 0.4em 0;
			min-height: 50px;
			padding: 0.65%;
			width: 168px;
			background-color: #F1F1F1;
			margin-left: 460px;
			top: 620px;
			position: absolute;
			word-wrap: break-word;
		}

		.grid-view7 {

			border: 1px solid #ddd;
			float: left;
			margin: 0.4em 2% 0.4em 0;
			min-height: 50px;
			padding: 1%;
			width: 168px;
			background-color: #F1F1F1;
			top: 23px;
			position: relative;
			word-wrap: break-word;
		}
		div.grid-view4:hover {
			background-color: #90805A;
		}
		.grid-view8 {

			border: 1px solid #ddd;
			float: left;
			margin: 0.4em 2% 0.4em 0;
			min-height: 50px;
			padding: 0.65%;
			width: 168px;
			background-color: #F1F1F1;
			margin-left: 230px;
			top: 870px;
			position: absolute;
			word-wrap: break-word;
		}
		.grid-view9 {

			border: 1px solid #ddd;
			float: left;
			margin: 0.4em 2% 0.4em 0;
			min-height: 50px;
			padding: 0.65%;
			width: 168px;
			background-color: #F1F1F1;
			margin-left: 460px;
			top: 870px;
			position: absolute;
			word-wrap: break-word;
		}
	</style>

	<script language='javascript'>
		(function($) {
			$(document).ready(function() {
				$('#cssmenu').prepend('<div id="menu-button">Menu</div>');
				$('#cssmenu #menu-button').on('click', function() {
					var menu = $(this).next('ul');
					if (menu.hasClass('open')) {
						menu.removeClass('open');
					} else {
						menu.addClass('open');
					}
				});
			});
		} )(jQuery);

		function display() {
			if (document.frmRadio.selType[0].checked) {
				document.getElementById('div1').style.display = 'none';
				document.getElementById('div2').style.display = 'block';
			} else {
				document.getElementById('div2').style.display = 'none';
				document.getElementById('div1').style.display = 'block';
			}

		}


		$(':radio').change(function(event) {
			var id = $(this).data('id');
			$('#' + id).addClass('none').siblings().removeClass('none');
		});

		$('.nav-toggle'.click(function() {

		}))
		function showHide(shID) {
			if (document.getElementById(shID)) {
				if (document.getElementById(shID + '-show').style.display != 'none') {
					document.getElementById(shID + '-show').style.display = 'none';
					document.getElementById(shID).style.display = 'block';
					document.getElementById('hideDiv1').style.display = 'none';

				} else {
					document.getElementById(shID + '-show').style.display = 'inline';
					document.getElementById(shID).style.display = 'none';
					document.getElementById('hideDiv1').style.display = 'block';

				}
			}
		}
	</script>
	<body style="background-image: url('/assets/menu-free-background4.jpg')">
		<div style="position: absolute;float: right;padding-left: 140px;padding-top: 20px;">
			<%= link_to "HOME |",{:controller=>'homepage',:action=>'index'},class: "menu_link"%>
			<%= link_to "CONTACT US |",{},class: "menu_link"%>
			<%= link_to "ABOUT US",{},class: "menu_link"%>

			&nbsp;

		</div>

		<div id='cssmenu' style="width: 100px;float:right;margin-right: 100px;top: 10px;">
			<ul>

				<li class=' has-sub'>
					<a href='#' style="font-size: 13px; color:#black;font: bolder;">&nbsp;<% @hotelUsercc= HotelUser.find(cookies[:user_id2])%><%= @hotelUsercc.userName%></a>
					<ul>
						<li class=''>
							<a href='#' style="font-size: 11px;"><%= image_tag('Settings.png',:size=>'14x14',:alt=>'Logo')%>&nbsp;DASHBOARD </a>

						</li>
						<li class=''>
							<a href='#' style="font-size: 11px;"><%= image_tag('user.ico',:size=>'15x15',:alt=>'Logo')%>&nbsp;PROFILE</a>

						</li>
						<li class=''>
							<a href='http://localhost:3000/menus/logout' style="font-size: 11px;"><%= image_tag('logout.png',:size=>'15x15',:alt=>'Logo')%>&nbsp;LOGOUT</a>

						</li>
					</ul>
				</li>

			</ul>
		</div>

		<div class="container_head" >
			<div style="">
				<%= image_tag('logo3.png',:size=>'120x100',:alt=>'Logo')%>
			</div>
		</div>
		<br />

		<div id="menu-container" class="list-wrap">
			<legend style="background-color: orange;color: green;text-align: center;font: bold;font-size: 24px;">
				Step 2 of 3 : Select/Add Delivery Address
			</legend>
			<br />
			<legend style="background-color: #FAF2CC;color: green;text-align: center;font: bold;font-size: 20px;text-align: left;width: 100%;height: 15%;">
				<% @hotelUser= HotelUser.find(cookies[:user_id2])%>
				Name:&nbsp;<%= @hotelUser.userName%>
				<br />
				Email:&nbsp;<%= @hotelUser.email%>
				<br />
				Phone:&nbsp;<%= @hotelUser.phoneNo%>
				<b style="color: #FA5833;"><%= cookies[:userNamee]%></b>
			</legend>
			<br />
			<b style="color: #F4A506;font-size:20px;;">Please select your address:</b>
			<%= link_to '+ Add Address',{:action=>'placeOrderStep2'},class:"btn-orange2",:id=>'example-show',:onclick=>" showHide('example');return false;"%>
			<div style="clear: both;"></div>
			<br />
			<div id="hideDiv1">
				<%= form_for(:hotelUser,:url=>{:controller=>'orders',:action=>'show' ,:address1=>params[:address1]}) do |hotelUser|%>
				<%if (@hotelUser.address1).present?%>
				<div id="#" class="search_result_row grid-view1 sorted-resto" style="opacity: 1;background-color: #FFFFFF">

					<%= @hotelUser.address1%>
					<div style="background-color: #F4A506;margin-top: 150px;height:  30px;color: #F1F1F1;padding-top: 6PX;" >
						<%= radio_button_tag :address1,@hotelUser.address1 %>&nbsp;SELECT ADDRESS
					</div>

				</div>
				<%end%> <div style="clear: both;"></div>
				<%if (@hotelUser.address2).present?%>
				<div id="#" class="search_result_row grid-view2 sorted-resto" style="opacity: 1;background-color: #FFFFFF">

					<%= @hotelUser.address2%>
					<div style="background-color: #F4A506;margin-top: 150px;height:  30px;color: #F1F1F1;padding-top: 6PX;" >
						<%= radio_button_tag :address1,@hotelUser.address2 %>&nbsp;SELECT ADDRESS
					</div>

				</div>
				<%end%> <div style="clear: both;"></div>
				<%if (@hotelUser.address3).present?%>
				<div id="#" class="search_result_row grid-view3 sorted-resto" style="opacity: 1;background-color: #FFFFFF">

					<%= @hotelUser.address3%>
					<div style="background-color: #F4A506;margin-top: 150px;height:  30px;color: #F1F1F1;padding-top: 6PX;" >
						<%= radio_button_tag :address1,@hotelUser.address3 %>&nbsp;SELECT ADDRESS
					</div>

				</div>
				<%end%> <div style="clear: both;"></div>
				<%if (@hotelUser.address4).present?%>
				<div id="#" class="search_result_row grid-view4 sorted-resto" style="opacity: 1;background-color: #FFFFFF">

					<%= @hotelUser.address4%>
					<div style="background-color: #F4A506;margin-top: 150px;height:  30px;color: #F1F1F1;padding-top: 6PX;" >
						<%= radio_button_tag :address1,@hotelUser.address4 %>&nbsp;SELECT ADDRESS
					</div>

				</div>
				<%end%>
				<div style="clear: both;"></div>
				<%if (@hotelUser.address5).present?%>
				<div id="#" class="search_result_row grid-view5 sorted-resto" style="opacity: 1;background-color: #FFFFFF">

					<%= @hotelUser.address5%>
					<div style="background-color: #F4A506;margin-top: 150px;height:  30px;color: #F1F1F1;padding-top: 6PX;" >
						<%= radio_button_tag :address1,@hotelUser.address5 %>&nbsp;SELECT ADDRESS
					</div>

				</div>
				<%end%> <div style="clear: both;"></div>
				<%if (@hotelUser.address6).present?%>
				<div id="#" class="search_result_row grid-view6 sorted-resto" style="opacity: 1;background-color: #FFFFFF">

					<%= @hotelUser.address6%>
					<div style="background-color: #F4A506;margin-top: 150px;height:  30px;color: #F1F1F1;padding-top: 6PX;" >
						<%= radio_button_tag :address1,@hotelUser.address6 %>&nbsp;SELECT ADDRESS
					</div>

				</div>
				<%end%>
				<div style="clear: both;"></div>
				<%if (@hotelUser.address7).present?%>
				<div id="#" class="search_result_row grid-view7 sorted-resto" style="opacity: 1;background-color: #FFFFFF">

					<%= @hotelUser.address7%>
					<div style="background-color: #F4A506;margin-top: 150px;height:  30px;color: #F1F1F1;padding-top: 6PX;" >
						<%= radio_button_tag :address1,@hotelUser.address7 %>&nbsp;SELECT ADDRESS
					</div>

				</div>
				<%end%>
				<div style="clear: both;"></div>
				<%if (@hotelUser.address8).present?%>
				<div id="#" class="search_result_row grid-view8 sorted-resto" style="opacity: 1;background-color: #FFFFFF">

					<%= @hotelUser.address8%>
					<div style="background-color: #F4A506;margin-top: 150px;height:  30px;color: #F1F1F1;padding-top: 6PX;" >
						<%= radio_button_tag :address1,@hotelUser.address8 %>&nbsp;SELECT ADDRESS
					</div>

				</div>
				<%end%>
				<div style="clear: both;"></div>
				<%if (@hotelUser.address9).present?%>
				<div id="#" class="search_result_row grid-view9 sorted-resto" style="opacity: 1;background-color: #FFFFFF">

					<%= @hotelUser.address9%>
					<div style="background-color: #F4A506;margin-top: 150px;height:  30px;color: #F1F1F1;padding-top: 6PX;" >
						<%= radio_button_tag :address1,@hotelUser.address9 %>&nbsp;SELECT ADDRESS
					</div>

				</div>
				<%end%>
				<br />

				<%= hotelUser.submit("PROCEED TO PAYMENT",{:action=>'show',:address1=>@hotelUser.address1})%><%end%>
			</div>
			<div id="example" class="more" style="display: none;">
				<% @present=='false'%>

				<% addr=Array.new%>
				<% addr=["#{(@hotelUser.address1)}","#{(@hotelUser.address2)}","#{(@hotelUser.address3)}","#{(@hotelUser.address4)}","#{(@hotelUser.address5)}","#{(@hotelUser.address6)}","#{(@hotelUser.address7)}",
            "#{(@hotelUser.address8)}","#{(@hotelUser.address9)}"]%>
				<% @count=0%>

				<%addr.each_with_index do |addr,index|%>
				<% @count+=1%>

				<% index+1%>
				<%if addr==''||nil%>
				<%= form_for(:order,:url=>{:controller=>'orders',:action=>'orderCreate1'}) do |hotelUser|%>
				<%= hotelUser.text_area(:address,:cols=>67,:rows=>3)%>
				<br />
				<br />
				<p style="text-align: center;width: 50%;">
					<a href="#" id="example-hide" class="btn-orange3" onclick="showHide('example');return false;">BACK</a>
					<%= hotelUser.submit("PROCEED TO PAYMENT",{:action=>'orderCreate1'})%>

				</p>
				<%end%><%end%><%end%>

			</div>

	</body>

</html>