
<html>
	<%= stylesheet_link_tag 'orders'%>
		<%= stylesheet_link_tag 'component'%>
		<%= stylesheet_link_tag 'content'%>

		<%= javascript_include_tag 'classie'%>
<style>

.list-wrap {

		margin-left: 460px;
		background-color: #e9e9e9;
		float: left;
		padding: 5px 1%;
		width: 25%;
		height: 70%;
	}

</style>
<body style="background-image: url('../images/menu-free-background4.jpg')">
		<div style="position: absolute;float: right;padding-left: 40px;padding-top: 20px;width: 72%;margin-left: 90px;">
			<%= link_to "HOME |",{:controller=>'homepage',:action=>'index'},class: "menu_link"%>
			<%= link_to "CONTACT US |",{},class: "menu_link"%>
			<%= link_to "ABOUT US",{},class: "menu_link"%>
			<%= link_to "SIGN UP",{:controller=>'hotel_users',:action=>'signup'},class: "btn-orange2"%>
			<% if cookies[:uName].present?%>
			<div id='cssmenu' style="width: 100px;float:right;margin-right: -188px;top: -6px;">
				<ul>

					<li class=' has-sub'>
						<a href='#' style="font-size: 13px; color:#black;font: bolder;">&nbsp;<%= cookies[:uName]%></a>
						<ul>
							<li class=''>
								<a href='#' style="font-size: 11px;"><%= image_tag('settings.png',:size=>'14x14',:alt=>'Logo')%>&nbsp;DASHBOARD </a>

							</li>
							<li class=''>
								<a href='#' style="font-size: 11px;"><% image_tag('user.ico',:size=>'15x15',:alt=>'Logo')%>&nbsp;PROFILE</a>

							</li>
							<li class=''>
								<a href='http://localhost:3000/menus/logout' id="logout" style="font-size: 11px;"><%= image_tag('logout.png',:size=>'15x15',:alt=>'Logo')%>&nbsp;LOGOUT</a>

							</li>
						</ul>
					</li>

				</ul>
			</div>
			<%end%>
		</div>

		<div class="container_head" >
			<div style="">
				<%= image_tag('logo3.png',:size=>'120x100',:alt=>'Logo')%>
			</div>
		</div>
		<br />
		<br />
		<%if flash[:notice]%>
		<div style="color: red;">
		<%= flash[:notice]%></div>
		<%end%>

<div id="menu-container" class="list-wrap">
	<legend style="background-color: orange;color: green;text-align: center;font: bold;height: 50px;font-size: 20px;padding-top: 10px;">SIGN UP</legend>
<%= form_for(:hotelUser,:url=>{:action=>'create'}) do |f|%>
  
<br />
  <div class="field">
    <%= f.label :userName %>:<div class="textboxRgt">
    <%= f.text_field :userName ,:required=>true,:size=>'38x50'%></div>
  </div>
  <br />
  <div class="field">
    <%= f.label :password %>:<div class="textboxRgt">
   <%= f.password_field(:password,:required=>true,:size=>'38x50')%>
  </div></div>
  <br />
  <div class="field">
    <%= f.label :email %>:<div class="textboxRgt">
   <%= f.email_field(:email,:required=>true,:size=>'38x50') %>
  </div></div>
  <br />
  <div class="field">
    <%= f.label :phoneNo %>:<div class="textboxRgt">
   <%= f.phone_field(:phoneNo,:required=>true,:size=>'38x50') %>
  </div></div>
  <br />
  <div class="field">
    <%= f.label :city %>:<div class="textboxRgt">
  <%= f.select :city, options_from_collection_for_select(@city, "cityName", "cityName"),:required=>true,:size=>'38x50',:class=>'my_dropdown'%>
  </div></div>
  <br />
  <div class="field">
    <%= f.label :pinCode %>:<div class="textboxRgt">
   <%= f.text_field(:pinCode,:required=>true,:size=>'38x50') %>
  </div></div>
  <br />
  <div class="actions" style="text-align: center">
    <%= f.submit 'SAVE'%>
  </div>
<% end %>

<% if cookies[:uName].blank?%>
		<%= form_tag(:controller=>'hotels',:action=>'loginUser') do%>
		<div class="">
            <div class="">
                <a href="#login_form" id="login_pop" style="top: 23px;position: absolute;text-decoration: none;color: black;font: bold;width:80px;margin-left:  652px; ">LOGIN</a>
               
            </div>

        </div>

        <!-- popup form #1 -->
        <a href="#x" class="overlay" id="login_form"></a>
        <div class="popup">
            <h2>Welcome Guest!</h2>
            <p>Please enter your login and password here</p>
            <p>
								<label>Email</label><%= email_field_tag(:email,'',class:"loginTextbox",:required=>true)%>

							</p>
							<p>
								<label>Password</label><%= password_field_tag(:password,nil, placeholder:'password',class:"loginTextbox",:required=>true)%>
							</p>
							<p>
								<%= submit_tag "Login",class: "LoginButton"%>
							</p>
            <a class="close" href="#close"></a>
        </div>

			<%end%> <%end%>
			
</body>
</div>
</html>