<html>
	<head><script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script></head>
	<script>
		function initialize() {

var defaultBounds = new google.maps.LatLngBounds(
	new google.maps.LatLng(21.0000, 78.0000)
	);

var origin_input = document.getElementById('hotel_hotel_location');

var options = {
	bounds: defaultBounds,
	componentRestrictions: {country: 'ind'}
};

var autocomplete_origin = new google.maps.places.Autocomplete(origin_input, options);    
}
google.maps.event.addDomListener(window, 'load', initialize);

	</script>
	<body>
		
		<%= form_for(:hotel,:url=>{:action=>"createHotel"}) do |hotel|%>
		<%= hotel.label :hotel_Name%>
		<%= hotel.text_field :hotel_Name%>
		
		
		<%= hotel.label :hotel_location%>
		<%= hotel.text_field :hotel_location%>
		
		<%= hotel.label :hotel_address%>
		<%= hotel.text_field :hotel_address%>
		<br /><br />
		<%= hotel.label :latitude%>
		<%= hotel.text_field :latitude%>
		
		<%= hotel.label :longitude%>q
		<%= hotel.text_field :longitude%>
		<%= hotel.submit "Create new hotel"%>
		<%end%>
		<br /><br />
		<%= form_for(:user,:url=>{:controller=>'hotels',:action=>"createUserForHotel"}) do |hotel|%>
		<%= hotel.label :hotel_id%>
		<%= hotel.select :hotel_id, options_from_collection_for_select(@hotels,"id","hotel_Name") %>
		<br /><br />
		<%= hotel.label :username%>
		<%= hotel.text_field :username%>
		<br /><br />
		<%= hotel.label :password%>
		<%= hotel.text_field :password%>
		<br /><br />
		<%= hotel.label :email%>
		<%= hotel.text_field :email%>
		<br /><br />
		<%= hotel.submit "Create new hotel user"%>
		<%end%>
	</body>
</html>
