<html>
	<head>
		<%= stylesheet_link_tag 'orders'%>
		<%= stylesheet_link_tag 'component'%>
		<%= stylesheet_link_tag 'content'%>

		<%= javascript_include_tag 'classie'%>
	</head>
	<!-- link to a set of effects -->
	<style type="text/css">
		<link href="styles.css" rel="stylesheet" type="text/css" />

		.search_result_row, .head-resto {
			padding: 0;
		}

		.sorted-resto {
			background-color: #fff;
		}
		.search_result_row {
			border-bottom: 1px solid #e6e4b1;
			color: #333;
			padding: 0.5em;
		}
		.grid-view {
			border: 1px solid #ddd;
			float: left;
			margin: 0.4em 0 0.4em 15px;
			min-height: 250px;
			padding: 1.3em 1%;
			width: 21%;
			box-shadow: 0 2px 2px #dddddd;
		}
		a, abbr, acronym, address, applet, b, big, blockquote, body, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
			background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
			border: 0 none;
			font-size: 100%;
			margin: 0;
			outline: 0 none;
			padding: 0;
			vertical-align: baseline;
		}
		.grid-view .grid_13 {
			min-height: 118px;
			padding: 0 4px 0 8px;
		}
		.grid-view .grid_13 {
			min-height: 140px;
			padding: 0 4px 0 8px;
		}
		.grid-view .grid_13 {
			min-height: 230px;
		}
		.grid-view .grid_13, .grid-view .grid_14, .grid-view .grid_16d, .grid-view .grid_5c {
			text-align: left;
			width: 100%;
		}
		.container_16 .grid_13 {
			width: 79.25%;
		}
		.tal {
			text-align: left;
		}
		.grid_1, .grid_10, .grid_11, .grid_11a, .grid_11ab, .grid_11b, .grid_11c, .grid_12, .grid_13, .grid_13a, .grid_13l, .grid_14a, .grid_14b, .grid_15a, .grid_2, .grid_2a, .grid_3, .grid_3a, .grid_3b, .grid_3f, .grid_3fu, .grid_3l, .grid_4, .grid_4d, .grid_4f, .grid_5, .grid_5a, .grid_5b, .grid_5c, .grid_5d, .grid_5e, .grid_5f, .grid_5h, .grid_6, .grid_6a, .grid_7, .grid_8, .grid_8a, .grid_8ab, .grid_8b, .grid_8d, .grid_9, grid_5db {
			float: left;
		}
		a, abbr, acronym, address, applet, b, big, blockquote, body, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
			background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
			border: 0 none;
			font-size: 100%;
			margin: 0;
			outline: 0 none;
			padding: 0;
			vertical-align: baseline;
		}
		a.btn-orange {
			text-decoration: none;
			background-color: #81c02f;
			color: #fff;
			display: inline-block;
			font-size: 0.9em;
			font-weight: 700;
			line-height: normal;
			margin: 1% 0;
			padding: 0.5em 1em;
			text-transform: uppercase;
			margin-right: 60px;
		}

		a.btn-orange:hover {
			background-color: #81c02f;
			color: #000;
		}
		.menu_list {
			width: 200px;
			float: left;
			border: 1px solid #ff7200;
			margin-left: 150px;
			height: 300px;
			text-align: center;
			background-color: #F5D0A9;
		}
	</style>
	<style>
		table, td, th {
			border: 1px solid black;
			height: 20px;
			width: 750px;
			text-align: center;
		}

		th {
			background-color: blue;
			color: red;
		}
		td {
			background-color: #848484;
			color: #F7FE2E;
		}
		.list-wrap {
			text-align: center;
			margin-left: 120px;
			background-color: #e9e9e9;
			float: right;
			padding: 7px 3%;
			width: 70%;
			margin-right: 70px;
		}
		.container_head {
			background-color: #f9b004;
			background-image: linear-gradient(to right, #f9b004 0px, #f9b004 50%, #f9b004 100%);
			border-bottom: 3px solid #fff;
			height: 100px;
		}
		.top-resultbar {
			background-color: #efefef;
			border: 1px solid #ddd;
			height: 42px;
			margin: 4px 0 46px;
			padding: 0 10px;
			position: relative;
			width: 100%;
		}
		.menu_link {
			text-decoration: none;
			color: #FFFFFF;
			border-right-color: #FFFFFF;
		}

		a.btn-orange2 {
			text-decoration: none;
			background-color: black;
			color: #fff;
			display: inline-block;
			font-size: 0.9em;
			font-weight: 700;
			line-height: normal;
			float: right;
			padding: 0.5em 1em;
			text-transform: uppercase;
			top: 10px;
		}

		a.btn-orange2:hover {
			background-color: #81c02f;
			color: #000;
		}

		a.btn-orange3 {
			text-decoration: none;
			background-color: 81c02f;
			color: #fff;
			display: inline-block;
			font-size: 0.9em;
			font-weight: 700;
			line-height: normal;
			float: right;
			padding: 0.5em 1em;
			text-transform: uppercase;
			top: 10px;
		}

		a.btn-orange3:hover {
			background-color: black;
			color: #FFFFFF;
		}
		.numberStyle1 {
    color: #808080;
    width: 50px;
}
.btnSearch1 {
    background-color: #f9b004;
    color: #fff;
    display: inline-block;
    font-size: 0.9em;
    font-weight: 200;
    line-height: normal;
    padding: 0.2em 0;
    text-decoration: none;
    text-transform: uppercase;
}
.field {
    border-bottom: 1px solid #dddddd;
    color: #666666;
    cursor: pointer;
    font-size: 1em;
    padding: 7px 10px;
}
.scrollbar {
    float: left;
    height: 300px;
    margin-left: -4px;
  
    overflow-y: scroll;
    width: 150px;
}
.logoutStyle
		{
			font-size: 10px;
		}
.grid-view:hover
{
	background-color: #FFA200;
	border: 1px solid #FFA200;
	box-shadow: : 0 2px 2px #888888;
	left: -1px;
	position: relative;
	top: -1px;
}		
	</style>
	<script></script>
	<body style="background-image: url('/assets/menu-free-background4.jpg')">
		<div style="position: absolute;float: right;padding-left: 40px;padding-top: 20px;width: 72%;margin-left: 90px;">
			<%= link_to "HOME |",{:controller=>'homepage',:action=>'index'},class: "menu_link"%>
			<%= link_to "CONTACT US |",{},class: "menu_link"%>
			<%= link_to "ABOUT US",{},class: "menu_link"%>
			<%= link_to "SIGN UP",{:controller=>'hotel_users',:action=>'signup'},class: "btn-orange2"%>
			<% if cookies[:uName].present?%>
			<div id='cssmenu' style="width: 100px;float:right;margin-right: -188px;top: -6px;">
				<ul>

					<li class=' has-sub'>
						<a href='#' style="font-size: 13px; color:#black;font: bolder;">&nbsp;<%= cookies[:uName]%></a>
						<ul>
							<li class=''>
<%= link_to image_tag('Settings.png',:size=>'15x15',:alt=>'Logo')+'DASHBOARD',{:controller=>'orders',:action=>'userDashboard'},class:'logoutStyle'%>

							</li>
							<li class=''>
								<%= link_to image_tag('users1.jpg',:size=>'15x15',:alt=>'Logo')+'PROFILE',{:controller=>'orders',:action=>'userDashboard'},class:'logoutStyle'%>
							</li>
							<li class=''>
								<%= link_to image_tag('logout.png',:size=>'15x15',:alt=>'Logo')+'LOGOUT',{:controller=>'menus',:action=>'logout'},class:'logoutStyle'%>

							</li>
						</ul>
					</li>

				</ul>
			</div>
			<%end%>
		</div>

		<div class="container_head" >
			<div style="">
				<%= image_tag('logo3.png',:size=>'120x100',:alt=>'Logo')%>
			</div>
		</div>
		<br />
		<div style="background-color: #FFFFFF;width: 217px;position:  absolute;margin-left: 20px;top: 220px;text-align: left;color: #808080;padding-left: 4PX;">
			Minimum Order Value
			<br />
			<div style="width: 220px;color: #808080;">
			<%= form_tag :action=>'index',:search=>params[:search], method: :post do %>
			<%= image_tag('1407951522_Indian_Rupee_symbol.png',:size=>'10x12',:alt=>'Rs.')%><%= number_field_tag :quantity1,nil,:in=>0..5000,:class=>'numberStyle1',:value=>0%>&nbsp;&nbsp;to
			&nbsp;<%= image_tag('1407951522_Indian_Rupee_symbol.png',:size=>'10x12',:alt=>'Rs.')%><%= number_field_tag :quantity2,nil,:in=>1..5000,:class=>'numberStyle1',:value=>@maxValue.to_i%>
			<%= submit_tag 'Search', class: "btnSearch1"%>
			<%end%>

		</div>
		</div>
		
		<div style="background-color: #FFFFFF;width: 217px;position:  absolute;margin-left: 20px;top: 290px;text-align: left;color: #808080;padding-left: 4PX;">
		
			CUISINES
		
		<div style="width: 218px;height: 150px;" class="scrollbar">
			<% array=Array.new%>
			<% @cuisins.each do |cuisine|%>

			<% check_box_tag 'cuisine_name'+cuisine.id.to_s,cuisine.cuisine_name %><% array<< cuisine.cuisine_name%>

			<%end%>
			<%= form_tag :action=>'index',:search=>params[:search], method: :post do %>
			<%(@array=array.uniq).each_with_index do |cuisine,index|%>
			<div class="field">
				<%= check_box_tag 'cuisine_name'+(index.to_s),cuisine%><%= cuisine%>
			</div>

			<%end%>
		</div>
		
		<div style="background-color: #FFFFFF;width: 216px;text-align: left;">
			<%= submit_tag 'Search',:search=>params[:search], class: "btnSearch1"%>
			<%end%>
			<br />
		</div>
		
		</div>
		<div style="clear: both;"></div>
		<div  class="list-wrap">

			<br />

			<% @searchCuisine=Array.new%>
			<% @searchCuisineHotel=Array.new%>
			<% @searchHotel=Array.new%>
			<% (0..500).each do |i|%>
			<% @searchCuisine << params['cuisine_name'+i.to_s]%>
			<%end%>
			<% @searchCuisine.each do |cuisine|%>
			<%if cuisine!=nil%>
			<% debug @cuisines=Cuisine.where(:cuisine_name=>cuisine)%>

			<%@cuisines.each do |cui|%>
			<% @cuii= Cuisine.find(cui.id)%>
			<% @searchCuisineHotel<<@cuii%>
			<%end%><%end%><%end%>

			<%@searchCuisineHotel.each do |cui_Id|%>
			<% @searchHotel<< cui_Id.hotel_id%>
			<%end%>
			<% debug @HotelSearch= @searchHotel.uniq%>

			<!--Code for checkbox cuisine select  -->
			<%if params[:quantity1].blank?&&params[:quantity2].blank? && @HotelSearch.present?%>
			<%if @HotelSearch.present?%>
			<!--checkbox-->
			<div style="background-color:  #ffffff;margin-left: 13px;width: 97%; ">
				<b style="font-size: 20px;color: orange;"><%= @HotelSearch.count%></b><b style="font-size: 16px;color: orange;"> Hotels<%if cookies[:hotelId].present?%><% cookies[:hotelIdCheck]= cookies[:hotelId]%><%end%></b>
				<b style="font-size: 14px;color: #808080;">is available for  <% @searchCuisine.each do |cuisine|%>
				<%if cuisine!=nil%><%= cuisine%>,<%end%><%end%>
				in <%= @hotelsLocation.hotel_location%></b>
			</div>
			<% if   flash[:message]%>
			<div style="color:#FF7200;background-color: #FFFFFF;font-size: 20px;">
				<%= flash[:message]%>
			</div>
			<%end%>
			<br />
			<%@HotelSearch.each do |hotel|%>

			<% @hotels.each do |h|  %>
			<%if h.id==hotel && hotel.present?%>

			<div id="#" class="search_result_row grid-view sorted-resto" style="opacity: 1;background-color: #FFFFFF">
				<b style="color: #f9b004;text-align: center;font-size: 20px;"><%= h.hotel_Name%><% @hotelName=h.hotel_Name%></b>
				<br />
				<%= image_tag h.hotelImage_url,:size=>'150x110'%>
				<br />
				<br />
				<p style="color: #808080;font-size: 15px;float: left;">
					<%= image_tag('1407945135_gpsmapicons07.png',:size=>'20x20',:alt=>'Logo')%>&nbsp;<%= cookies[:hotelLocation]= h.hotel_location%>
				</p>
				<br />
				<div style="clear: both;"></div>
				<% if (@cuisine_name=Cuisine.where(:hotel_id=>h.id)).present?%>

				<p style="color: #808080;font-size: 15px;float: left;">
					<%= image_tag('fork_and_knife.png',:size=>'12x12',:alt=>'Logo')%>&nbsp;
					<%@cuisine_name.each do |cuisine|%>
					<%= cuisine.cuisine_name%>,
					<%end%><%end%>
					<br />
					Min order:<%= image_tag('1407951522_Indian_Rupee_symbol.png',:size=>'10x10',:alt=>'Rs.')%><%= h.min_order%>
				</p>
				<div style="clear: both;"></div>
				<% h.offers.each do |offer| %>
				<% if Date.today.between?((offer.startDate_get),(offer.endDate_get)) || Date.today==offer.endDate_get || Date.today==offer.startDate_get%>

				<% if offer.amountforDiscount != nil &&  offer.percentageOff != nil%>
				<p style="color: #FA603D">
					<b><%= offer.percentageOff%>% OFF on order of Rs.<%= offer.amountforDiscount%> and Above</b>
				</p>
				<p>
					Valid:<%= offer.startDate_get%> to <%= offer.endDate_get%>
				</p>
				<% end %><% end %>
				<% if Date.today.between?((offer.startDate_get),(offer.endDate_get)) || Date.today==offer.endDate_get || Date.today==offer.startDate_get%>

				<% if offer.offer_type=='buy1get1'%>

				<p style="color: #008080">
					<b>Buy </b><%= offer.qty_buy1%>&nbsp;<%= offer.menuName_buy1%> <b>And Get</b> <%= offer.qty_get%>&nbsp;<%= offer.menuName_get%> <b>Free </b>
				</p>
				<p>
					Valid:<%= offer.startDate_get%> to <%= offer.endDate_get%>
				</p>
				<br />
				<%end%>
				<% end %>

				<% if Date.today.between?((offer.startDate_get),(offer.endDate_get)) || Date.today==offer.endDate_get || Date.today==offer.startDate_get%>

				<% if offer.offer_type=='buy2get1'%>

				<p style="color: #008080">
					<b>Buy </b><%= offer.qty_buy1%>&nbsp;<%= offer.menuName_buy1%><b>, Buy </b><%= offer.qty_buy2%>&nbsp;<%= offer.menuName_buy2%> <b>And Get</b> <%= offer.qty_get%>&nbsp;<%= offer.menuName_get%> <b>Free </b>
				</p>
				<p>
					Valid:<%= offer.startDate_get%> to <%= offer.endDate_get%>
				</p>
				<br />
				<%end%>
				<% end %>

				<% if Date.today.between?((offer.startDate_get),(offer.endDate_get)) || Date.today==offer.endDate_get || Date.today==offer.startDate_get%>

				<% if offer.offer_type=='buy3get1'%>

				<p style="color: #008080">
					<b>Buy </b><%= offer.qty_buy1%>&nbsp;<%= offer.menuName_buy1%><b>, Buy </b><%= offer.qty_buy2%>&nbsp;<%= offer.menuName_buy2%><b> , Buy </b><%= offer.qty_buy3%>&nbsp;<%= offer.menuName_buy3%> <b>And Get</b> <%= offer.qty_get%>&nbsp;<%= offer.menuName_get%> <b>Free </b>
				</p>
				<p>
					Valid:<%= offer.startDate_get%> to <%= offer.endDate_get%>
				</p>
				<br />
				<%end%>
				<% end %>

				<% if Date.today.between?((offer.startDate_get),(offer.endDate_get)) || Date.today==offer.endDate_get || Date.today==offer.startDate_get%>

				<% if offer.offer_type=='discountOnAmount' && offer.disType_get=='Rs.'%>

				<p style="color: #008080">
					<b>Buy </b><%= offer.qty_get%>&nbsp;<%= offer.menuName_get%> <b>And Get</b> <%= offer.disType_get%><%= offer.disAmountOrPercentage%>&nbsp; <b>Off </b>
				</p>
				<p>
					Valid:<%= offer.startDate_get%> to <%= offer.endDate_get%>
				</p>
				<br />
				<%end%>
				<% end %>

				<% if Date.today.between?((offer.startDate_get),(offer.endDate_get)) || Date.today==offer.endDate_get || Date.today==offer.startDate_get%>

				<% if offer.offer_type=='discountOnAmount' && offer.disType_get=='%'%>

				<p style="color: #008080">
					<b>Buy </b><%= offer.qty_get%>&nbsp;<%= offer.menuName_get%> <b>And Get</b> <%= offer.disAmountOrPercentage%><%= offer.disType_get%>&nbsp; <b>Off </b>
				</p>
				<p>
					Valid:<%= offer.startDate_get%> to <%= offer.endDate_get%>
				</p>
				<br />
				<%end%>
				<% end %>
				<% end %>

				<div style=" margin-left:46px;margin-top: 40px; ">
					<%= link_to("ViewMenu",{:controller=>'menus',:hotel_id=>h.id,:hotel_Name=>h.hotel_Name}, class:'btn-orange')%>
				</div>
			</div>
			<% end%><%end%><%end%>

			<%end%>

			<%end%>

			<!-- Default content-->

			<%if params[:quantity1].blank?&&params[:quantity2].blank? && @HotelSearch.blank?%>
			<!--Default content-->
			<% @countRange=0%>
			<% @hotels.each_with_index do |h,index|  %>
			<%if  h.min_order %>
			<% @countRange= @countRange+1%><%end%><%end%>
			<div style="background-color:  #ffffff;margin-left: 13px;width: 97%; ">
				<b style="font-size: 20px;color: orange;"><%= @countRange%></b><b style="font-size: 16px;color: orange;"> Hotels<%if cookies[:hotelId].present?%><% cookies[:hotelIdCheck]= cookies[:hotelId]%><%end%></b><b style="font-size: 14px;color: #808080;"> available in <%= @hotelsLocation.hotel_location%></b>
			</div>
			<% if   flash[:message]%>
			<div style="color:#FF7200;background-color: #FFFFFF;font-size: 20px;">
				<%= flash[:message]%>
			</div>
			<%end%>
			<br />

			<% @hotels.each do |h|  %>
			<% if h.min_order.present?%>
			<div id="#" class="search_result_row grid-view sorted-resto" style="opacity: 1;background-color: #FFFFFF">
				<b style="color: #f9b004;text-align: center;font-size: 20px;"><%= h.hotel_Name%><% @hotelName=h.hotel_Name%></b>
				<br />
				<%= image_tag h.hotelImage_url,:size=>'160x120'%>
				<br />
				<br />
				<p style="color: #808080;font-size: 15px;float: left;">
					<%= image_tag('1407945135_gpsmapicons07.png',:size=>'20x20',:alt=>'Logo')%>&nbsp;<%= cookies[:hotelLocation]= h.hotel_location%>
				</p>
				<br />
				<div style="clear: both;"></div>
				<% if (@cuisine_name=Cuisine.where(:hotel_id=>h.id)).present?%>

				<p style="color: #808080;font-size: 15px;float: left;">
					<%= image_tag('fork_and_knife.png',:size=>'12x12',:alt=>'Logo')%>&nbsp;
					<%@cuisine_name.each do |cuisine|%>
					<%= cuisine.cuisine_name%>,
					<%end%><%end%>
					<br />
					Min order:<%= image_tag('1407951522_Indian_Rupee_symbol.png',:size=>'10x10',:alt=>'Rs.')%><%= h.min_order%>
				</p>
				<div style="clear: both;"></div>
				<% h.offers.each do |offer| %>
				<% if Date.today.between?((offer.startDate_get),(offer.endDate_get)) || Date.today==offer.endDate_get || Date.today==offer.startDate_get%>

				<% if offer.amountforDiscount != nil &&  offer.percentageOff != nil%>
				<p style="color: #FA603D">
					<b><%= offer.percentageOff%>% OFF on order of Rs.<%= offer.amountforDiscount%> and Above</b>
				</p>
				<p>
					Valid:<%= offer.startDate_get%> to <%= offer.endDate_get%>
				</p>
				<% end %><% end %>
				<% if Date.today.between?((offer.startDate_get),(offer.endDate_get)) || Date.today==offer.endDate_get || Date.today==offer.startDate_get%>

				<% if offer.offer_type=='buy1get1'%>

				<p style="color: #008080">
					<b>Buy </b><%= offer.qty_buy1%>&nbsp;<%= offer.menuName_buy1%> <b>And Get</b> <%= offer.qty_get%>&nbsp;<%= offer.menuName_get%> <b>Free </b>
				</p>
				<p>
					Valid:<%= offer.startDate_get%> to <%= offer.endDate_get%>
				</p>
				<br />
				<%end%>
				<% end %>

				<% if Date.today.between?((offer.startDate_get),(offer.endDate_get)) || Date.today==offer.endDate_get || Date.today==offer.startDate_get%>

				<% if offer.offer_type=='buy2get1'%>

				<p style="color: #008080">
					<b>Buy </b><%= offer.qty_buy1%>&nbsp;<%= offer.menuName_buy1%><b>, Buy </b><%= offer.qty_buy2%>&nbsp;<%= offer.menuName_buy2%> <b>And Get</b> <%= offer.qty_get%>&nbsp;<%= offer.menuName_get%> <b>Free </b>
				</p>
				<p>
					Valid:<%= offer.startDate_get%> to <%= offer.endDate_get%>
				</p>
				<br />
				<%end%>
				<% end %>

				<% if Date.today.between?((offer.startDate_get),(offer.endDate_get)) || Date.today==offer.endDate_get || Date.today==offer.startDate_get%>

				<% if offer.offer_type=='buy3get1'%>

				<p style="color: #008080">
					<b>Buy </b><%= offer.qty_buy1%>&nbsp;<%= offer.menuName_buy1%><b>, Buy </b><%= offer.qty_buy2%>&nbsp;<%= offer.menuName_buy2%><b> , Buy </b><%= offer.qty_buy3%>&nbsp;<%= offer.menuName_buy3%> <b>And Get</b> <%= offer.qty_get%>&nbsp;<%= offer.menuName_get%> <b>Free </b>
				</p>
				<p>
					Valid:<%= offer.startDate_get%> to <%= offer.endDate_get%>
				</p>
				<br />
				<%end%>
				<% end %>

				<% if Date.today.between?((offer.startDate_get),(offer.endDate_get)) || Date.today==offer.endDate_get || Date.today==offer.startDate_get%>

				<% if offer.offer_type=='discountOnAmount' && offer.disType_get=='Rs.'%>

				<p style="color: #008080">
					<b>Buy </b><%= offer.qty_get%>&nbsp;<%= offer.menuName_get%> <b>And Get</b> <%= offer.disType_get%><%= offer.disAmountOrPercentage%>&nbsp; <b>Off </b>
				</p>
				<p>
					Valid:<%= offer.startDate_get%> to <%= offer.endDate_get%>
				</p>
				<br />
				<%end%>
				<% end %>

				<% if Date.today.between?((offer.startDate_get),(offer.endDate_get)) || Date.today==offer.endDate_get || Date.today==offer.startDate_get%>

				<% if offer.offer_type=='discountOnAmount' && offer.disType_get=='%'%>

				<p style="color: #008080">
					<b>Buy </b><%= offer.qty_get%>&nbsp;<%= offer.menuName_get%> <b>And Get</b> <%= offer.disAmountOrPercentage%><%= offer.disType_get%>&nbsp; <b>Off </b>
				</p>
				<p>
					Valid:<%= offer.startDate_get%> to <%= offer.endDate_get%>
				</p>
				<br />
				<%end%>
				<% end %>
				<% end %>

				<div style=" margin-left:46px;margin-top: 40px; ">
					<%= link_to("ViewMenu",{:controller=>'menus',:hotel_id=>h.id,:hotel_Name=>h.hotel_Name}, class:'btn-orange')%>
				</div>
			</div>
			<% end%><%end%><%end%>

			<!-- Range selected -->

			<%if params[:quantity1].present? && params[:quantity2].present? %>
			
			<% @count=0%>
			<% @hotels.each_with_index do |h,index|  %>
			<%if params[:quantity1].to_i<=h.min_order.to_i && params[:quantity2].to_i>=h.min_order.to_i && h.min_order %>
			<% @count= @count+1%><%end%><%end%>
			<div style="background-color:  #ffffff;margin-left: 13px;width: 97%; ">
				<b style="font-size: 20px;color: orange;"><%= @count%></b><b style="font-size: 16px;color: orange;"> Hotels<%if cookies[:hotelId].present?%><% cookies[:hotelIdCheck]= cookies[:hotelId]%><%end%></b><b style="font-size: 14px;color: #808080;"> available in <%= @hotelsLocation.hotel_location%></b>
			</div>

			<% if   flash[:message]%>

			<%= flash[:message]%>

			<%end%><%end%>
			<br />

			<% @hotels.each_with_index do |h,index|  %>
			<% @count=0%>
			<%if params[:quantity1].to_i<=h.min_order.to_i && params[:quantity2].to_i>=h.min_order.to_i && h.min_order.present?  %>
			<% @count= @count+1%>

			<div id="#" class="search_result_row grid-view sorted-resto" style="opacity: 1;background-color: #FFFFFF">
				<b style="color: #f9b004;text-align: center;font-size: 20px;"><%= h.hotel_Name%><% @hotelName=h.hotel_Name%></b>
				<br />
				<%= image_tag h.hotelImage_url,:size=>'160x120'%>
				<br />
				<br />
				<p style="color: #808080;font-size: 15px;float: left;">
					<%= image_tag('1407945135_gpsmapicons07.png',:size=>'20x20',:alt=>'Logo')%>&nbsp;<%= cookies[:hotelLocation]= h.hotel_location%>
				</p>
				<br />
				<div style="clear: both;"></div>
				<% if (@cuisine_name=Cuisine.where(:hotel_id=>h.id)).present?%>

				<p style="color: #808080;font-size: 15px;float: left;">
					<%= image_tag('fork_and_knife.png',:size=>'12x12',:alt=>'Logo')%>&nbsp;
					<%@cuisine_name.each do |cuisine|%>
					<%= cuisine.cuisine_name%>,
					<%end%><%end%>
					<br />
					Min order:<%= image_tag('1407951522_Indian_Rupee_symbol.png',:size=>'10x10',:alt=>'Rs.')%><%= h.min_order%>
				</p>
				<div style="clear: both;"></div>
				<% h.offers.each do |offer| %>
				<% if Date.today.between?((offer.startDate_get),(offer.endDate_get)) || Date.today==offer.endDate_get || Date.today==offer.startDate_get%>

				<% if offer.amountforDiscount != nil &&  offer.percentageOff != nil%>
				<p style="color: #FA603D">
					<b><%= offer.percentageOff%>% OFF on order of Rs.<%= offer.amountforDiscount%> and Above</b>
				</p>
				<p>
					Valid:<%= offer.startDate_get%> to <%= offer.endDate_get%>
				</p>
				<% end %><% end %>
				<% if Date.today.between?((offer.startDate_get),(offer.endDate_get)) || Date.today==offer.endDate_get || Date.today==offer.startDate_get%>

				<% if offer.offer_type=='buy1get1'%>

				<p style="color: #008080">
					<b>Buy </b><%= offer.qty_buy1%>&nbsp;<%= offer.menuName_buy1%> <b>And Get</b> <%= offer.qty_get%>&nbsp;<%= offer.menuName_get%> <b>Free </b>
				</p>
				<p>
					Valid:<%= offer.startDate_get%> to <%= offer.endDate_get%>
				</p>
				<br />
				<%end%>
				<% end %>

				<% if Date.today.between?((offer.startDate_get),(offer.endDate_get)) || Date.today==offer.endDate_get || Date.today==offer.startDate_get%>

				<% if offer.offer_type=='buy2get1'%>

				<p style="color: #008080">
					<b>Buy </b><%= offer.qty_buy1%>&nbsp;<%= offer.menuName_buy1%><b>, Buy </b><%= offer.qty_buy2%>&nbsp;<%= offer.menuName_buy2%> <b>And Get</b> <%= offer.qty_get%>&nbsp;<%= offer.menuName_get%> <b>Free </b>
				</p>
				<p>
					Valid:<%= offer.startDate_get%> to <%= offer.endDate_get%>
				</p>
				<br />
				<%end%>
				<%end%>

				<% if Date.today.between?((offer.startDate_get),(offer.endDate_get)) || Date.today==offer.endDate_get || Date.today==offer.startDate_get%>

				<% if offer.offer_type=='buy3get1'%>

				<p style="color: #008080">
					<b>Buy </b><%= offer.qty_buy1%>&nbsp;<%= offer.menuName_buy1%><b>, Buy </b><%= offer.qty_buy2%>&nbsp;<%= offer.menuName_buy2%><b> , Buy </b><%= offer.qty_buy3%>&nbsp;<%= offer.menuName_buy3%> <b>And Get</b> <%= offer.qty_get%>&nbsp;<%= offer.menuName_get%> <b>Free </b>
				</p>
				<p>
					Valid:<%= offer.startDate_get%> to <%= offer.endDate_get%>
				</p>
				<br />
				<%end%>
				<% end %>

				<% if Date.today.between?((offer.startDate_get),(offer.endDate_get)) || Date.today==offer.endDate_get || Date.today==offer.startDate_get%>

				<% if offer.offer_type=='discountOnAmount' && offer.disType_get=='Rs.'%>

				<p style="color: #008080">
					<b>Buy </b><%= offer.qty_get%>&nbsp;<%= offer.menuName_get%> <b>And Get</b> <%= offer.disType_get%><%= offer.disAmountOrPercentage%>&nbsp; <b>Off </b>
				</p>
				<p>
					Valid:<%= offer.startDate_get%> to <%= offer.endDate_get%>
				</p>
				<br />
				<%end%>
				<% end %>

				<% if Date.today.between?((offer.startDate_get),(offer.endDate_get)) || Date.today==offer.endDate_get || Date.today==offer.startDate_get%>

				<% if offer.offer_type=='discountOnAmount' && offer.disType_get=='%'%>

				<p style="color: #008080">
					<b>Buy </b><%= offer.qty_get%>&nbsp;<%= offer.menuName_get%> <b>And Get</b> <%= offer.disAmountOrPercentage%><%= offer.disType_get%>&nbsp; <b>Off </b>
				</p>
				<p>
					Valid:<%= offer.startDate_get%> to <%= offer.endDate_get%>
				</p>
				<br />
				<%end%>
				<% end %>
				<% end %>

				<div style=" margin-left:46px;margin-top: 40px; ">
					<%= link_to("ViewMenu",{:controller=>'menus',:hotel_id=>h.id,:hotel_Name=>h.hotel_Name}, class:'btn-orange')%>
				</div>
			</div>

			<% end%><%end%>

		</div>

		<% @offers%>
		<% if cookies[:uName].blank?%>
		<%= form_tag(:controller=>'hotels',:action=>'loginUser') do%>
		<div class="">
			<div class="">
				<a href="#login_form" id="login_pop" style="top: 23px;position: absolute;text-decoration: none;color: black;font: bold;width:80px;margin-left:  1130px; ">LOGIN</a>

			</div>

		</div>

		<!-- popup form #1 -->
		<a href="#x" class="overlay" id="login_form"></a>
		<div class="popup">
			<h2>Welcome Guest!</h2>
			<p>
				Please enter your login and password here
			</p>
			<p>
				<label>Email</label><%= email_field_tag(:email,'',class:"loginTextbox",:required=>true)%>

			</p>
			<p>
				<label>Password</label><%= password_field_tag(:password,nil, placeholder:'password',class:"loginTextbox",:required=>true)%>
			</p>
			<p>
				<%= submit_tag "Login",class: "LoginButton"%>
			</p>
			<a class="close" href="#close"></a>
		</div>

		<%end%> <%end%>

	</body>
</html>